<nav class="desktop" role="navigation">
<div class="nav-main clearfix">
    <div class="nav-wrap">
        <a class="nav-home" href="{{ site.url }}">
            <h1>ERIC LAGERGREN</h1>
        </a>
        <ul class="nav-site clearfix">
            <li class="dropdown-open"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ site.url }}/blog">blog</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ site.url}}/archives">archives</a></li>
                </ul>
            </li>
            <li><a href="{{ site.url}}/about">about</a>
            </li>
            <li><a href="{{ site.url}}/contact">contact</a>
            </li>
            <li class="dropdown-open"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ site.url}}/projects">projects</a>
                <ul class="dropdown-menu">
                    <li><a href="{{ site.url}}/projects/photos">photos</a></li>
                    <li><a href="{{ site.url}}/documents/Eric%20Lagergren%20Curriculum%20Vitae.pdf">cv/resume</a></li>
                    <li><a href="{{ site.url}}/projects/code">code</a></li>
                    <li><a href="{{ site.url}}/projects/typography">typography</a></li>
                    <li><a href="{{ site.url}}/projects/mirrors">mirrors</a></li>
                    <li><a href="{{ site.url}}/projects/pgp">pgp</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>
</nav>
<nav class="mobile" role="navigation">
<div class="mobile"><!-- stupid ie7/ie6 fix -->
<div class="nav-main">
    <div class="nav-wrap">
        <a class="nav-home" href="/">
            <h1>ERIC LAGERGREN</h1>
        </a>
        <ul class="nav-site">
            <li><a href="{{ site.url}}/blog">blog</a>
            </li>
            <li><a href="{{ site.url}}/about">about</a>
            </li>
            <li><a href="{{ site.url}}/contact">contact</a>
            </li>
            <li><a href="{{ site.url}}/projects">projects</a>
            </li>
        </ul>
    </div>
</div>
</div>
</nav>
<nav class="bmenu" role="navigation">
<div class="bmenu"><!-- stupid ie7/ie6 fix -->
<div class="nav-main">
    <div class="nav-wrap">
        <a class="nav-home" href="/">
            <h1>ERIC LAGERGREN</h1>
        </a>
        <ul class="nav-site">
            <li><a href="{{ site.url}}/blog">blog</a>
            </li>
            <li><a href="{{ site.url}}/about">about</a>
            </li>
            <li><a href="{{ site.url}}/contact">contact</a>
            </li>
            <li><a href="{{ site.url}}/projects">projects</a>
            </li>
        </ul>
    </div>
</div>
</div>
</nav>
  <nav class="mobile-nav">
    <div class="menu-bars"></div>
  </nav>
<noscript><style type="text/css">#message {display:block;}</style></noscript>
<div id="message"><a href="/message">Your browser isn't supported!! More info...</a></div>